* {
    box-sizing: border-box;
}
:root {
    --bg-color-primary:  hsl(0, 0%, 100%);
    --bg-secondary: hsl(225, 100%, 98%);
    --color-text: hsl(230, 17%, 14%);
    --element-color: hsl(227, 47%, 96%);
    --card-text: hsl(228, 12%, 44%);
    --label-Gradient: hsl(230, 22%, 74%);
    
}
body {
    margin: 0%;
    font-family: Inter;
    background-color: var(--bg-color-primary);
    color: var(--color-text);
}

body.dark {
    --bg-color-primary: hsl(230, 17%, 14%);
    --bg-secondary:  hsl(232, 19%, 15%);
    --color-text:  hsl(0, 0%, 100%);
    --element-color: hsl(228, 28%, 20%);
    --card-text: hsl(228, 34%, 66%);
    --label-Gradient: linear-gradient( 90deg, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
     
}

.dashboard {
    max-width: 1000px;
    margin: 100px auto 0 auto;
    background-color: var(--bg-secondary);
    position: relative;
    z-index: 1;
    padding: 8px 24px;
}

.switch {
    display: flex;
    align-items: center;
}

label {
    position: relative;
    width: 45px;
    height: 23px;
    background-color: hsl(230, 22%, 74%);
    background-image:  var(--label-Gradient);
    padding: 2px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}


.toggleIcon {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    
}

#mode {
    position: absolute;
    opacity: 0;  
}

#mode:checked + .toggleIcon{
    transform: translateX(100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--bg-secondary);
    position: absolute;
    left: -80px;
    right: -80px;
    top: -100px;
    padding-inline: 100px;
    height: 200px;
    z-index: -1;
    border-radius: 6px;
    
}

header h2 {
    margin-bottom: 0%;
}
header h5 {
    margin-top: 4px;
}
header label {
    font-size: 12px;
    font-weight: 700;
}


.mainheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

/* social media contains all cards */
.socialmedia {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    margin: 0% auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--element-color);
    border-radius: 6px;
}

.card .data > p {
    font-size: 14px;
    color: var(--card-text);
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card > .data > h3 {
    font-size: 40px;
    margin-block: 0%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 20px;
    height: 20px;
}

.card.fb {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.card.tw {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.card.youtube {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.card.insta{
    position: relative;
}

.card.insta::before{
    content: '';
    background-image: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    width: 100%;
    height: 4px;
    position: absolute;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
   
}

.card:hover {
    background-color: #E1E3F0;
}

body.dark .card:hover{
    background-color: #333A54;
}
.status:hover {
    background-color: #E1E3F0;
}
body.dark .status:hover{
    background-color: #333A54;
}

.todayStatus {
    color: var(--card-text);
}

/* it contains all status cards */
.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
}

.status {
    background-color: var(--element-color);
    border-radius: 6px;
    padding: 20px;
}



.status p {
    font-size: 14px;
    font-weight: 700;
    color: var(--card-text)
}

.status h3 {
    font-weight: 700;
}

.views {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.views img {
    width: 20px;
    height: 20px;
}

.viewdata {
    display: flex;
    justify-content: space-between;
}

.up, .down {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.up {
    color: hsl(163, 72%, 41%) ;
}

.down {
    color: hsl(356, 69%, 56%) ;
}

footer {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

/* ! Media queries */

@media screen and (max-width: 860px) {
    .dashboard{
        margin-top: 0;
        position: static;
    }

    header {
        position: static;
        padding-inline: 10px;
    }
    header h2{
        font-size: 18px;
        font-weight: bolder;
    }
    header h5, label {
        font-weight: 500;
    }
    .socialmedia {
        flex-direction: column;
        align-items: center;
        margin: 0 24px;
    }

    .card {
        max-width: 520px;
    }
    .overview{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 24px;
    }
    .status {
        max-width: 520px;
        width: 100%;
    }    
}

@media ( max-width:600px) {
    .mainheader .title h2, h5 {
        font-size: 13px;
        font-weight: bold;
    }
    .mainheader .switch p{
        font-size: 13px;
    }
    .dashboard{
        margin: 8px 16px;
    }
    
}