* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: Inter;
    color: hsl(230, 17%, 14%);
}

body.dark {
    background-color: black;
    color:  hsl(0, 0%, 100%);
}

.dashboard {
    max-width: 1000px;
    margin: 100px auto 0 auto;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 1;
}

.dashboard.dark {   
    background-color: hsl(230, 17%, 14%);
    color:  hsl(0, 0%, 100%);
   
}

.dashboard.dark  .mainheader  .title > h5, .switch > p {
    color: hsl(228, 34%, 66%);
}

.switch {
    display: flex;
    align-items: center;
}

label {
    position: relative;
    width: 45px;
    height: 23px;
    background-color:  hsl(230, 22%, 74%);
    padding: 2px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

label.dark {
    background-image: linear-gradient( 90deg, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}

.toggleIcon {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    
}

#mode {
    position: absolute;
    opacity: 0;  
}

#mode:checked + .toggleIcon{
    transform: translateX(100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: hsl(227, 47%, 96%);
    position: absolute;
    left: -80px;
    right: -80px;
    top: -100px;
    padding-inline: 100px;
    height: 200px;
    z-index: -1;
    border-radius: 6px;
    
}

header h2 {
    margin-bottom: 0%;
}
header h5 {
    margin-top: 4px;
}
header label {
    font-size: 12px;
    font-weight: 700;
}


header.dark {
    background-color: hsl(232, 19%, 15%);
}


.mainheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

/* social media contains all cards */
.socialmedia {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    margin: 0% auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: hsl(227, 47%, 96%);
    border-radius: 6px;
}

.card.dark {
    background-color: hsl(228, 28%, 20%);
}

.card.dark .icon h6 {
    color: hsl(228, 34%, 66%);
}

.card .data > p {
    font-size: 14px;
    color: hsl(228, 12%, 44%);
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card.dark .data > p {
    color: hsl(228, 34%, 66%);
}

.card > .data > h3 {
    font-size: 40px;
    margin-block: 0%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 20px;
    height: 20px;
}

.fb {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.tw {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.card:hover {
    background-color: #E1E3F0;
}

.card.dark:hover{
    background-color: #333A54;
}
.status:hover {
    background-color: #E1E3F0;
}


.youtube {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.todayStatus {
    color: hsl(228, 12%, 44%);
}

/* it contains all status cards */
.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
}

.status {
    background-color: hsl(227, 47%, 96%);
    border-radius: 6px;
    padding: 20px;
}

.status.dark {
    background-color: hsl(228, 28%, 20%);
}

.status.dark:hover{
    background-color: #333A54;
}

.status p {
    font-size: 14px;
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.status.dark p {
    color: hsl(228, 34%, 66%);
}

.status h3 {
    font-weight: 700;
}

.views {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.views img {
    width: 20px;
    height: 20px;
}

.viewdata {
    display: flex;
    justify-content: space-between;
}

.up, .down {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.up {
    color: hsl(163, 72%, 41%) ;
}

.down {
    color: hsl(356, 69%, 56%) ;
}

footer {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

@media screen and (max-width: 760px) {
    .dashboard{
        margin-top: 0;
        position: static;
    }

    header {
        position: static;
        padding-inline: 10px;
    }
    header h2{
        font-size: 18px;
        font-weight: 500;
    }
    header h5, label {
        font-weight: 500;
    }
    .socialmedia {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .card {
        max-width: 520px;
    }
    .overview{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .status {
        max-width: 520px;
        width: 100%;
    }

    
}